argon2-cffi==19.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
colorama==0.4.1
construct==2.9.45
enum34==1.1.6
future==0.17.1
hvac==0.7.2
idna==2.8
libkeepass==0.3.0
lxml==4.3.1
pycparser==2.19
pycryptodome==3.7.3
pykeepass==3.0.3
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
urllib3==1.24.2
